alphavantage>=0.0.11
astroid>=2.2.5
attrs>=19.1.0
autobahn>=19.6.2
Automat>=0.7.0
backcall>=0.1.0
beautifulsoup4>=4.8.1
bleach>=3.1.0
chardet>=3.0.4
Click>=7.0
console>=0.94
constantly>=15.1.0
cycler>=0.10.0
dash>=1.8.0
dash-core-components>=1.7.0
dash-html-components>=1.0.2
dash-renderer>=1.2.3
dash-table>=4.6.0
dateparser>=0.7.1
decorator>=4.4.0
defusedxml>=0.6.0
entrypoints>=0.3
ezenv>=0.86
Flask>=1.1.1
Flask-Compress>=1.4.0
foil>=0.2.7
future>=0.18.2
get>=2019.4.13
hyperlink>=19.0.0
incremental>=17.5.0
inflection>=0.3.1
ipykernel>=5.1.1
ipython>=7.5.0
ipython-genutils>=0.2.0
iso8601>=0.1.12
isort>=4.3.20
itsdangerous>=1.1.0
jedi>=0.14.0
Jinja2>=2.10.1
joblib>=0.13.2
jsonschema>=3.0.1
jupyter>=1.0.0
jupyter-client>=5.2.4
jupyter-console>=6.0.0
jupyter-core>=4.5.0
kiwisolver>=1.1.0
kmodes>=0.10.1
lazy-object-proxy>=1.4.1
MarkupSafe>=1.1.1
matplotlib>=3.1.1
mccabe>=0.6.1
mistune>=0.8.4
more-itertools>=5.0.0
nbconvert>=5.5.0
nbformat>=4.4.0
ndg-httpsclient>=0.5.1
nltk>=3.4.3
notebook>=5.7.8
numpy>=1.16.4
olefile>=0.46
pandas>=0.24.2
pandocfilters>=1.4.2
parso>=0.5.0
pickleshare>=0.7.5
plotly>=4.2.1
post>=2019.4.13
prometheus-client>=0.7.1
prompt-toolkit>=2.0.9
ptyprocess>=0.6.0
public>=2019.4.13
pyasn1>=0.4.5
pyasn1-modules>=0.2.5
pycountry>=18.12.8
pycrypto>=2.6.1
PyHamcrest>=1.9.0
pylint>=2.3.1
PyMySQL>=0.9.3
pyOpenSSL>=19.0.0
pyparsing>=2.4.0
pyrsistent>=0.15.2
python-binance>=0.7.1
pyzmq>=18.0.1
qtconsole>=4.5.1
Quandl>=3.4.8
query-string>=2019.4.13
regex>=2019.6.8
request>=2019.4.13
retrying>=1.3.3
scikit-learn>=0.21.2
scipy>=1.3.0
seaborn>=0.9.0
Send2Trash>=1.5.0
service-identity>=18.1.0
six>=1.12.0
sklearn>=0.0
soupsieve>=1.9.4
SQLAlchemy>=1.3.4
terminado>=0.8.2
testpath>=0.4.2
tornado>=6.0.3
traitlets>=4.3.2
Twisted>=19.2.1
txaio>=18.8.1
typed-ast>=1.3.5
tzlocal>=1.5.1
urllib2-file>=0.2.1
wcwidth>=0.1.7
webencodings>=0.5.1
Werkzeug>=0.15.4
wrapt>=1.11.1
xlrd>=1.2.0
zipfile36>=0.1.3
gunicorn==20.0.4
